/*
*= require bootstrap-base
*= require form
*= require puppies
*= require scaffold
*= require stylesheet
*= require_self
*/

#new_contact_message input, #new_contact_message textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
